body{
    background-color: rgba(12, 99, 175, 0.422);
}

h1{
    padding: 20px;
    display: flex;
    justify-content: center;
    color: rgba(5, 85, 5, 0.686);
}

.style {
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    max-width: 400px;
  }
  

  form label,
  form input {
    color: green;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
  }
  
  input:hover{
    border: 2px solid green;
  }

  button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  

  button:hover {
    background-color: darkblue;
    color: aqua;
  }
  